[Unit]
Description=Async Multichannel Audio Player
After=network.target

[Service]
ExecStart=/usr/local/bin/async-audio-player
Restart=always
User=root
Group=audio

[Install]
WantedBy=multi-user.target
