[Unit]
Description=PipeWire Async Polyphonic Audio Player
After=network.target

[Service]
ExecStart=/usr/local/bin/papad
Restart=always
User=root
Group=audio

[Install]
WantedBy=multi-user.target
